body {
    background-color: #f9f9f9;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60dvw;
    margin-bottom: 0.5rem;
    margin: auto;
    align-items: center;
    position: relative;
    top: 8dvh;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

header p {
    font-size: 0.9rem;
    padding: 0 3rem;
    color: #252526;
    width: 70%;
}

header a {
    background-color: #252526;
    width: 7rem;
    padding: 8px 0;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #f9f9f9;
}

a:active,
a:hover {
    opacity: 0.5;
}

figcaption {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 70dvw;
    justify-content: center;
    margin: 0 30vw;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    margin-bottom: 0;
    padding-left: 4vw;
    position: relative;
    top: 10dvh;
}

figcaption div {
    width: 20%;
    margin: 0 1rem;
    z-index: 1;
}

figcaption h5 {
    margin-bottom: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-size: 1rem;
}

figcaption p {
    margin-top: 0.4rem;
    font-size: 0.6rem;
    padding-bottom: 0.5rem;
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 0;
}

.image {
    width: 90vw;
    text-align: center;
}

figure img {
    width: 29vw;
    margin: 0.3rem 0.5rem;
}

@media (max-width: 768px) {
    header {
        margin: 0 1rem;
        width: 80vw;
        top: 4dvh;
    }

    figcaption {
        padding-left: 2vw;
        width: 80dvw;
        top: 5dvw;
    }

    /* figure div {
        width: 5%;
    } */

    figcaption p,
    figcaption h5 {
        font-size: 0.5rem;
    }
}

@media (max-width: 992px) {
    
    header {
        top: 3dvh;
    }
    figcaption {
        top: 5dvh;
    }
}